header{
    background-color: rgb(40, 39, 39);
    height: 100px;
    text-align: center;
    color: white;
}
nav{
    background-color: rgb(63, 61, 61);
    width: 15%;
    color: white;
    text-align: center;
}
section{
    background-color: white;
    width: 85%;
    text-align: center;
}

footer{
    background-color:rgb(180, 180, 78);
    height: 90px;
    clear: left;
    color: black;
    
}
nav,aside,section{
    float: left;
    height: 340px;
}
#caja1{
    width: 15%;
    height: 100px;
float: left;
    }
#caja2{
        width: 200px;
        height: 150px;
    float: left;
    }
    #caja3{
        width: 150px;
        height: 150px;
    float: left;
    }
#Categorias{
   text-align: left; 
   
}
.caja0{
    display: flex;
}
.imagen{
    width: 150px;
    height: 150px;
}
