header{
    background-color: rgb(40, 39, 39);
    height: 100px;
    text-align: center;
    color: white;
}
nav{
    background-color: rgb(63, 61, 61);
    width: 15%;
    color: white;   
}
section{
    background-color: white;
    width: 85%;
    text-align: center;
}
footer{
    background-color:rgb(241, 214, 38);
    height: 90px;
    clear: left;
    color: black;   
}
nav,section{
    float: left;
    height: 560px;
}
#caja1{
    width: 15%;
    height: 100px;
float: left;
    }
#Categorias{
   text-align: left;   
}
.caja0{
    display: flex;
}
.imagen{
    width: 150px;
    height: 150px;
}
.linea{
    display: grid;
    text-decoration: none;
    font-family: Arial;
    color: #fff;
    padding-bottom: 30%;

}
.menu{
    padding: 20%;
}
.buscar{
    
    padding: 40%;
}
